/* src/assets/fonts/fonts.css */
@font-face {
  font-family: 'Font-Header';
  src: url('@/assets/fonts/establish Retrosans.ttf') format('truetype');
}

@font-face {
  font-family: 'Font-Bold';
  src: url('@/assets/fonts/GmarketSansTTFBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Font-Medium';
  src: url('@/assets/fonts/GmarketSansTTFMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Font-Light';
  src: url('@/assets/fonts/GmarketSansTTFLight.ttf') format('truetype');
}